.myc-tooltip::after {
	font-family: FontAwesome;
	color: #1E91CF;
	content: "\f059";
	margin-left: 4px;
}

.myc-log-window {
	resize: none;
	margin-bottom: 10px;
}

.myc-status-label {
	text-align: right;
}

.myc-alert {
	overflow: auto;
	padding: 10px;	
	margin-bottom: 17px;
	border: 1px solid transparent;
	border-radius: 3px;
}

.myc-alert-danger {
	background-color: #fef1f1;
	border-color: #fde2e2;
	color: #f56b6b;
}

.myc-item-intration-status-subsection {
	background-color: #1898dd;
	color: #fff;
	padding: 10px;
	border-radius: 3px;
	display: inline-block;
	width: auto;
	font-size: 12px;
}

.myc-document-status-warning-item,
.myc-product-status-warning-item {
	height: auto;
	margin-bottom: 10px;
	color: #856404;
	background-color: #fff3cd;
	border: 1px solid #ffeeba;
	padding: 12px;
}

.form-control.myc-ciel-product-sync-mode {
	display: inline-block;
	width: 300px !important;
	margin-right: 15px;
}

.ciel-bulk-connect-result-container .alert {
	margin-bottom: 0px;
}